body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51,51,51);
}
article, aside {
    vertical-align: top;
    display: inline-block;
}
article {
    width: 69%;
}
aside {
    width: 30%;
    top:0cm;
    position:static;
}

article section img {
    width: 69%;
}
