body {
    background-color: rgb(238, 238, 238);
}

html {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    padding-right: 100px;
    margin-bottom: 10px;
}

h2 {
    font-size: 40px;
}

main>h1,
main>h2,
main>h3 {
    font-family: Georgia, serif;
    font-size: 1em;
}

hr {
    border: 1px solid black;
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.first_image {
    float: right;
}

.second_image {
    width: 200px;
    float: left;
}


blockquote {
    border-left-style: solid;
    border-left-color: rgb(221, 221, 221);
    padding-left: 20px;
    font-style: italic;
    font-family: Georgia, serif;
}

blockquote .signature {
    text-align: right;
    vertical-align: top;

}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


@media (max-width: 500px) {
    html {
        font-size: 12px;
    }
}


@media (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1300px) {
    html {
        font-size: 21px;
    }
}

@media (min-width: 1800px) {
    html {
        font-size: 23px;
    }
}